.container {
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 36px;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.thead {
    background-color: #009FE3;
}

.tr {
    transition: background-color 0.3s ease;
}

.th,
.td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.th {
    color: white;
}

.td {
    background-color: #ffffff;
}

tbody tr:nth-child(even) .td {
    background-color: #f2f2f2;
}

tbody tr:hover .td {
    background-color: #ddd;

}

@media (max-width: 767px) {
    .title {
        font-size: 24px;
    }

    .th,
    .td {
        font-size: 14px;
        padding: 8px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .title {
        font-size: 28px;
    }

    .th,
    .td {
        font-size: 16px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .title {
        font-size: 32px;
    }

    .th,
    .td {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .title {
        font-size: 36px;
    }

    .th,
    .td {
        font-size: 20px;
    }
}