.fieldset {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    
}

.selecao_carro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    border: 2px solid black;
}

@media (max-width: 767px) {
    .lista {
        grid-template-columns: 1fr;
    }

    .img {
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .lista {
        grid-template-columns: repeat(2, 1fr);
    }

    .img {
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .lista {
        grid-template-columns: repeat(2, 1fr);
    }

    .img {
        max-width: 60%;
    }
}

.info {
    text-align: center;
}

@media (min-width: 768px) and (max-width: 991px) {
    .info {
        text-align: center;
        font-size: 1rem;
    }

    .item {
        margin: 20px;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .info {
        text-align: center;
        font-size: 1.1rem;
    }

    .item {
        margin: 20px;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .selecao_carro {
        margin-top: 79px;
        margin-bottom: 79px;
    }

    .info {
        text-align: center;
        font-size: 1.2rem;
    }

    .item {
        margin: 20px;
        flex-direction: column;
        align-items: center;
    }
}