.j {
display: flex;
flex-direction: column; 
justify-content: center;
align-items: center;
height: 100vh;
text-align: center;
background-color: #f4f4f4; 
}

.error {
font-size: 4rem;
margin-bottom: 1rem;
}

.mensagem {
font-size: 1.5rem;
}
