@media (max-width: 767px) {
    .forms {
        padding: 20px;
        box-sizing: border-box;
    }

    .forms label {
        display: block;
        margin-bottom: 5px;
    }

    section input[type="text"],
    section input[type="textarea"],
    section input[type="email"],
    section input[type="date"],
    section textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 2px solid #CCCCCC;
        border-radius: 5px;
        background-color: #F0F0F0;
        font-size: 16px;
        box-sizing: border-box;
    }

    label {
        font-weight: bold;
    }

    .botao {
        width: 200px;
        height: 65px;
        font-size: 16px;
        border-radius: 25px;
        border: 3px solid #B6B6B6;
        background: #009FE3;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        margin: 20px 0 10px;
        display: block;
    }

    .botao:hover {
        background: #0077B6;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .forms {
        padding: 25px;
        box-sizing: border-box;
    }

    .forms label {
        display: block;
        margin-bottom: 7px;
    }

    section input[type="text"],
    section input[type="textarea"],
    section input[type="email"],
    section input[type="date"],
    section textarea {
        width: 100%;
        padding: 12px;
        margin-bottom: 12px;
        border: 2px solid #CCCCCC;
        border-radius: 5px;
        background-color: #F0F0F0;
        font-size: 18px;
        box-sizing: border-box;
    }

    label {
        font-weight: bold;
    }

    .botao {
        width: 200px;
        height: 65px;
        font-size: 16px;
        border-radius: 27px;
        border: 3px solid #B6B6B6;
        background: #009FE3;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        margin: 25px 0 12px;
        display: block;
    }

    .botao:hover {
        background: #0077B6;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .forms {
        padding: 25px;
        box-sizing: border-box;
    }

    .forms label {
        display: block;
        margin-bottom: 5px;
    }

    section input[type="text"],
    section input[type="textarea"],
    section input[type="email"],
    section input[type="date"],
    section textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 2px solid #CCCCCC;
        border-radius: 5px;
        background-color: #F0F0F0;
        font-size: 14px;
        box-sizing: border-box;
    }

    label {
        font-weight: bold;
    }

    .botao {
        width: 200px;
        height: 65px;
        font-size: 16px;
        border-radius: 20px;
        border: 3px solid #B6B6B6;
        background: #009FE3;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        margin: 15px 0 10px;
        display: block;
    }

    .botao:hover {
        background: #0077B6;
    }
}

@media (min-width: 1200px) {
    .forms {
        padding: 25px;
        box-sizing: border-box;
    }

    .forms label {
        display: block;
        margin-bottom: 5px;
    }

    section input[type="text"],
    section input[type="textarea"],
    section input[type="email"],
    section input[type="date"],
    section inputmask,
    section textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        border: 2px solid #CCCCCC;
        border-radius: 5px;
        background-color: #F0F0F0;
        font-size: 14px;
        box-sizing: border-box;
    }

    label {
        font-weight: bold;
    }

    .botao {
        width: 200px;
        height: 65px;
        font-size: 16px;
        border-radius: 20px;
        border: 3px solid #B6B6B6;
        background: #009FE3;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        margin: 15px 0 10px;
        display: block;
    }

    .botao:hover {
        background: #0077B6;
    }
}