@media (max-width: 767px) {
    .fundoContainer {
        position: relative;
    }
    .fundo {
        display: block;
        width: 100%;
        height: auto;
    }
    .botaoEtexto {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        color: white;
        transform: translate(-50%, -50%);
    }
    .botaoEtexto h1 {
        font-size: 24px;
        width: 80%;
        margin: 0 auto;
        text-shadow: 
            -1px -1px 0 black,  
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
    }
    .botao {
        height: 60px;
        border-radius: 25px;
        border: 3px solid #B6B6B6;
        background: #009FE3;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }
    .botao:hover {
        background: #0077B6;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .fundoContainer {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
    }

    .fundo {
        width: 100%;
        height: auto;
    }

    .botaoEtexto {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        color: white;
        transform: translate(-50%, -50%);
        width: 80%;
        padding: 20px;
    }

    .botaoEtexto h1 {
        font-size: 24px;
        text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
    }

    .botao {
        height: 60px;
        border-radius: 25px;
        border: 3px solid #B6B6B6;
        background: #009FE3;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }

    .botao:hover {
        background: #0077B6;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .fundoContainer {
        display: flex;
        justify-content: space-between;
    }
    .fundo {
        width: 50%;
        height: 650px;
        background-color: #CCCCCC;
    }
    .botaoEtexto {
        background-color: #CCCCCC;
        width: 50%;
        padding: 50px;
        text-align: center;
        color: white;
    }
    .botaoEtexto h1 {
        font-size: 30px;
        width: 80%;
        margin: 0 auto;
        text-shadow: 
            -1px -1px 0 black,  
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
    }
    .botao {
        height: 70px;
        border-radius: 30px;
        border: 3px solid #B6B6B6;
        background: #009FE3;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        cursor: pointer;
    }
    .botao:hover {
        background: #0077B6;
    }
}

@media (min-width: 1200px) {
    .fundoContainer {
        display: flex;
    }
    .fundo {
        width: 50%;
        height: 700px;
        background-color: #CCCCCC;
    }
    .botaoEtexto {
        background-color: #CCCCCC;
        width: 50%;
        padding: 50px;
        text-align: center;
        color: white;
    }
    .botaoEtexto h1 {
        font-size: 36px;
        width: 80%;
        margin: 0 auto;
        text-shadow: 
            -1px -1px 0 black,  
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
    }
    .botao {
        height: 80px;
        border-radius: 35px;
        border: 3px solid #B6B6B6;
        background: #009FE3;
        color: #fff;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }
    .botao:hover {
        background: #0077B6;
    }
}
