.logoutButton{
    width: 100%;
    max-width: 200px;
    height: 65px;
    font-size: 16px;
    border-radius: 20px;
    border: 3px solid #B6B6B6;;
    background: #979797;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 15px 0 10px;
    display: block;
}

.logoutButton:hover{
    background: #5f5f5f;
}

.cancelButton{
    width: 100%;
    max-width: 200px;
    height: 65px;
    font-size: 16px;
    border-radius: 20px;
    border: 3px solid #B6B6B6;
    background: rgb(255, 82, 82);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 15px 0 10px;
    display: block;
}

.cancelButton:hover{
    background:red;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.fieldset {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    flex: 0.4;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.selecao_carro {
    flex: 0.6;
}

.titulo {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    border: 2px solid black;
}

.botao {
    width: 100%;
    max-width: 200px;
    height: 65px;
    font-size: 16px;
    border-radius: 20px;
    border: 3px solid #B6B6B6;
    background: #009FE3;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 15px 0 10px;
    display: block;
}

.botao:hover {
    background: #0077B6;
}

.label,
.inputField {
    width: 100%;
    max-width: 400px;
}

.inputField {
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #CCCCCC;
    border-radius: 5px;
    background-color: #F0F0F0;
    font-size: 14px;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }

    .lista {
        grid-template-columns: 1fr;
    }

    .img {
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .lista {
        grid-template-columns: repeat(2, 1fr);
    }

    .img {
        max-width: 80%;
    }

    .info {
        text-align: center;
        font-size: 1rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .lista {
        grid-template-columns: repeat(2, 1fr);
    }

    .img {
        max-width: 60%;
    }

    .info {
        text-align: center;
        font-size: 1.1rem;
    }
}

@media (min-width: 1200px) {
    .info {
        text-align: center;
        font-size: 1.2rem;
    }
}

.logoutButton {
    margin-top: 20px;
}